* {
    box-sizing: content-box;
}

.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.item {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 240px;
    gap: 10px;
    border: 1px solid black;
    align-items: center;
}

.img {
    margin: 10px;
    max-width: 200px;
    max-height: 220px;
}

.info {
    padding-left: 10px;
}

.subtitle {
    color: black;
    opacity: 0.5;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: rgb(228, 224, 224);
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
}

.price {
    color: gray;
    font-weight: 600;
}

.total {
    font-size: 24px;
}

.bold {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.priceBomber::after {
    content: ' руб.';
}

.priceSneakers::after {
    content: ' руб.';
}

.priceJeans::after {
    content: ' руб.';
}

.priceBelt::after {
    content: ' руб.';
}